/* Colores
*  50, 100, 200, 300 .... 900, 950
*/
.slate{
    color: #f8fafc; /* 50 */
    color: #f1f5f9; /* 100 */
    color: #e2e8f0; /* 200 */
    color: #cbd5e1; /* 300 */
    color: #94a3b8; /* 400 */
    color: #64748b; /* 500 */
    color: #475569; /* 600 */
    color: #334155; /* 700 */
    color: #1e293b; /* 800 */
    color: #0f172a; /* 900 */
    color: #020617; /* 950 */
}
.red{
    color: #fef2f2; /* 50 */
    color: #fee2e2; /* 100 */
    color: #fecaca; /* 200 */
    color: #fca5a5; /* 300 */
    color: #f87171; /* 400 */
    color: #ef4444; /* 500 */
    color: #dc2626; /* 600 */
    color: #b91c1c; /* 700 */
    color: #991b1b; /* 800 */
    color: #7f1d1d; /* 900 */
    color: #450a0a; /* 950 */
}
.rose{
    color: #fff1f2; /* 50 */
    color: #ffe4e6; /* 100 */
    color: #fecdd3; /* 200 */
    color: #fda4af; /* 300 */
    color: #fb7185; /* 400 */
    color: #f43f5e; /* 500 */
    color: #e11d48; /* 600 */
    color: #be123c; /* 700 */
    color: #9f1239; /* 800 */
    color: #881337; /* 900 */
    color: #4c0519; /* 950 */
}
.cyan{
    color: #ecfeff; /* 50 */
    color: #cffafe; /* 100 */
    color: #a5f3fc; /* 200 */
    color: #67e8f9; /* 300 */
    color: #22d3ee; /* 400 */
    color: #06b6d4; /* 500 */
    color: #0891b2; /* 600 */
    color: #0e7490; /* 700 */
    color: #155e75; /* 800 */
    color: #164e63; /* 900 */
    color: rgb(8, 51, 68); /* 950 */
}

.blue{
    color: #eff6ff; /* 50 */
    color: #dbeafe; /* 100 */
    color: #bfdbfe; /* 200 */
    color: #93c5fd; /* 300 */
    color: #818cf8; /* 400 */
    color: #3b82f6; /* 500 */
    color: #2563eb; /* 600 */
    color: #1d4ed8; /* 700 */
    color: #1e40af; /* 800 */
    color: #1e3a8a; /* 900 */
    color: rgb(23, 37, 84); /* 950 */
}

