<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <!-- <meta name="csrf-token" content="{{ csrf_token() }}"> -->

    <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    
    <!-- Fonts -->
    <!-- <link rel="dns-prefetch" href="//fonts.bunny.net"> -->
    <link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Scripts -->
    <!-- @vite(['resources/sass/app.scss', 'resources/js/app.js']) -->
    <title>Crud</title>
</head>
<body>
    <!-- Si es admin, podrá acceder al crud, sino, no. -->
    <nav class="navbar   " id="navigator-admin">
        <div class="container-fluid">
            <div class="left d-flex">
                <!-- Botón barra -->
                <button class="button-left " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="fa-solid fa-bars"></i>
                    
                </button>
 
                <!-- Direccion -->
                <div class="direccion mt-1">
                    <span class="svg-home">
                        <i class="fa-solid fa-house"></i>
                    </span>
                    <span class="address">
    
                        TiendaFit, Casa central.
                    </span>
                    
                </div>
            </div>
            <div class="center">

                <!-- Logo y nombre -->
                <div class="logo-y-nombre">
                    <div class="imagen-logo">
                        <img src="img/logo.png" alt="" draggable="false">
                    </div>
                    <span>
                        TiendaFit
                    </span>
                </div>
            </div>
            <div class="right d-flex">

                <!-- Usuario Logueado -->
                <div class="usuario-logueado">
                    <ul>
                        <li class="nav-item dropdown  " style="color: #fff; list-style: none; margin-top: -5px;">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" style="color: #fff; height:20px; padding:3px;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                            <span>
                                <i class="fa-solid fa-user"></i>
                            </span>
                            Valentin (admin)
                            </a>
            
                            <div class="dropdown-menu dropdown-menu-end" style="margin-top: 15px;"  aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"
                                    onclick="event.preventDefault();
                                                    document.getElementById('logout-form').submit();">
                                    Destruír sesión
                                </a>
            
                                <form id="logout-form" action="" method="POST" class="d-none">
                                    @csrf
                                </form>
                            </div>
                        </li> 
                    </ul>
                    <span class="ayuda" title="Ayuda" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fa-regular fa-circle-question"></i>
                    </span>
                    <span class="ayuda mx-2" title="Notificaciones" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                        <i class="fa-solid fa-bell"></i>
                    </span>
                </div>
    
                <!-- Búsqueda -->
                <div class="busqueda">
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
                      <button class="btn btn-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            <!-- Sale por la izquierda -->
            <div class="offcanvas offcanvas-start" style="width: 300px;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Navegacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Hola soy hecu
                    </div>

                </div>
            </div>
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ route('pagina_inicio') }}">INICIO</a>
                    </li>
        

                        <li class="nav-item">
                            <a class="nav-link active" href=" {{ route('ir_admin') }} ">CRUD</a>
                        </li>
        
        
                </ul> -->
                <!-- <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>

        </div>
        
    </nav>
    <!-- Ayuda - Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5>Ayuda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Aquí va a un manual de usuario, en caso de que el admin no entienda qué es lo que tienen presente en la pantalla.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <!-- Notificaciones - Modal -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5>Notificaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Lo que va a haber es notificaciones sobre: 1- queda poco stock (de algún producto). 2- un cliente hizo un pago online y cuando lo retire, lo registras (entregas y descontas el stock) 3- algo más
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>



    <!-- <nav class="navbar navbar-expand-lg navbar-light " id="navigator-admin">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Tienda</a>
 
          
            <li class="nav-item dropdown  btn btn-success btn-sm" style="color: #fff">
                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" style="color: #fff; height:25px; padding:3px;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                Admin: Valentin
                </a>

                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"
                        onclick="event.preventDefault();
                                        document.getElementById('logout-form').submit();">
                        Logout
                    </a>

                    <form id="logout-form" action="" method="POST" class="d-none">
                        @csrf
                    </form>
                </div>
            </li>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ route('pagina_inicio') }}">INICIO</a>
                    </li>
        

                        <li class="nav-item">
                            <a class="nav-link active" href=" {{ route('ir_admin') }} ">CRUD</a>
                        </li>
        
        
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

        </div>
        
    </nav> -->
    


    <div class="section-principal d-flex " style="justify-content: space-between;">
        <aside class="left-aside" id="left-aside">
            <div class="foto-local-y-admin">
                <div class="local">
                    <img src="img/local.jpg" alt="" style="width: 100%;">
                </div>
                <div id="foto-admin">
                    <img src="img/mi-foto.jpg" alt="foto de ..." >
                </div>
            </div>
            <div class="mas-informacion">
                <h3>TiendaFit</h3>
                <span><i class="fa-solid fa-location-dot"></i> Casa central</span><br>
                <span><i class="fa-solid fa-screwdriver-wrench"></i> Valentin Urbine</span>
            </div>
        </aside>
        <section class="row" style="padding-top: 5px; justify-content: center;">
            <!-- Clientes activos -->
            <article class="article" onclick="alert('Te llevare a la tabla')">
                <div class="top">
                    <span>
                        <i class="fa-solid fa-user-plus"></i>
                    </span>
                    <span class="recuento">
                        56k
                    </span>
                </div>
                <div class="bottom">
                    <p>Clientes activos</p>
                </div>
            </article>
            
            <!-- Clientes activos -->
            <article class="article article2" onclick="alert('Te llevare a la tabla')">
                <div class="top">
                    <span>
                        <i class="fa-solid fa-chart-line"></i>
                    </span>
                    <span class="recuento">
                        325k
                    </span>
                </div>
                <div class="bottom">
                    <p>Ventas realizadas</p>
                </div>
            </article>
            
            <!-- Sumplementos y dieta -->
            <article class="article article3" onclick="alert('Te llevare a la tabla')">
                <div class="top">
                    <span>
                        <i class="fa-solid fa-heart"></i>
                    </span>
                    <span class="recuento">
                        325k
                    </span>
                </div>
                <div class="bottom">
                    <p>Sumplementos y dieta</p>
                </div>
            </article>
            
            
            <!-- Artículos deportivos -->
            <article class="article article4" onclick="alert('Te llevare a la tabla')">
                <div class="top">
                    <span>
                        <i class="fa-solid fa-football"></i>
                    </span>
                    <span class="recuento">
                        135
                    </span>
                </div>
                <div class="bottom">
                    <p>Artículos deportivos</p>
                </div>
            </article>
            
                        
            <!-- Ropa deportiva -->
            <article class="article article5" onclick="alert('Te llevare a la tabla')">
                <div class="top">
                    <span>
                        <i class="fa-solid fa-shirt"></i>
                    </span>
                    <span class="recuento">
                        13k
                    </span>
                </div>
                <div class="bottom">
                    <p>Ropa deportiva</p>
                </div>
            </article>

            <!-- Productos dieteticos -->
            <article class="article article6" onclick="alert('Te llevare a la tabla')">
                <div class="top">
                    <span>
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <span class="recuento">
                        459
                    </span>
                </div>
                <div class="bottom">
                    <p>Pedidos para reponer mercadería</p>
                </div>
            </article>

        </section>
        <aside class="right-aside" id="right-aside">
            <h5>TiendaFit</h5>
        </aside>
    </div>
    <footer class="navbar" id="footer-admin" style="height:350px">
        <div class="informacion-footer">
    
            <div class="center">
    
                <!-- Logo y nombre -->
                <div class="logo-y-nombre">
                    <div class="imagen-logo">
                        <img src="img/logo.png" alt="" draggable="false">
                    </div>
                    <span>
                        TiendaFit
                    </span>
                </div>
            </div>
    
            <span>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, doloribus. Eum quia cumque repellendus atque corrupti laudantium, excepturi autem, nulla libero corporis harum doloribus sunt vero. Totam aut dicta non?
            </span>
    
    
        </div>
        
    </footer>
    <script>
        // mostrar imagen en el form
        function previewImage(event, querySelector){
    
        //Recuperamos el input que desencadeno la acción
        const input = event.target;
    
        //Recuperamos la etiqueta img donde cargaremos la imagen
        $imgPreview = document.querySelector(querySelector);
    
        // Verificamos si existe una imagen seleccionada
        if(!input.files.length) return
    
        //Recuperamos el archivo subido
        file = input.files[0];
    
        //Creamos la url
        objectURL = URL.createObjectURL(file);
    
        //Modificamos el atributo src de la etiqueta img
        $imgPreview.src = objectURL;
                
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
