#navigator-usuario {
  background-color: rgb(0, 128, 219);
  color: #fff;
}
#navigator-usuario #top-navigator {
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
}
#navigator-usuario #top-navigator .usuario-logueado {
  display: flex;
  margin-bottom: 5px;
}
#navigator-usuario #top-navigator .usuario-logueado .invitado {
  margin-right: -55px;
}
#navigator-usuario #top-navigator .usuario-logueado .invitado a {
  margin-top: -15px;
}
#navigator-usuario #top-navigator .usuario-logueado ul {
  margin-top: 10px;
  padding: 0;
}
#navigator-usuario #top-navigator .usuario-logueado .ayuda {
  margin-bottom: 7.5px;
  margin-left: 5px;
}
#navigator-usuario #top-navigator .usuario-logueado .ayuda i {
  font-size: 1.1rem;
}
#navigator-usuario #top-navigator .usuario-logueado .ayuda :hover {
  cursor: pointer;
  color: #cecece;
  transition: all 0.2s;
}
#navigator-usuario #top-navigator .logo-y-nombre {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#navigator-usuario #top-navigator .logo-y-nombre .imagen-logo img {
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 3px #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
#navigator-usuario #top-navigator .logo-y-nombre span {
  margin: 0px 2px;
  font-weight: 600;
  font-size: 1.4em;
  text-shadow: 0px 0px 1px #fff;
  text-decoration: underline;
}
#navigator-usuario #top-navigator .right {
  display: flex;
  justify-content: flex-end;
  height: 45px;
}
#navigator-usuario #top-navigator .right #contenedor-switch-cambio-tema {
  background: #353535;
  color: #fff;
  padding: 5px;
  border-radius: 30px;
  margin-bottom: 5px;
}
#navigator-usuario #top-navigator .right #contenedor-switch-cambio-tema #form-switch {
  margin-left: 8px;
  margin-top: 2px;
  color: black;
}
#navigator-usuario #top-navigator .right #contenedor-dropdown-idiomas {
  background: #353535;
  color: #fff;
  padding: 5px;
  padding-bottom: 7px;
  margin-bottom: 5px;
  right: 0em;
}
#navigator-usuario #top-navigator .right #contenedor-dropdown-idiomas #dropdown-idiomas {
  background-color: #353535;
  margin-top: 6px;
  left: -3.9em;
  min-width: 130px;
}
#navigator-usuario #top-navigator .right #contenedor-dropdown-idiomas #dropdown-idiomas :hover {
  background: rgb(11, 122, 173);
}
#navigator-usuario #top-navigator .right #contenedor-dropdown-idiomas #dropdown-idiomas li:hover {
  background: rgb(11, 122, 173);
}
#navigator-usuario .bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  padding: 5px 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
#navigator-usuario .bottom-nav a {
  margin: 0px 5px;
}
#navigator-usuario .bottom-nav #li-hombres:hover .sub-li-hombres {
  display: block;
}
#navigator-usuario .bottom-nav #li-hombres .sub-li-hombres {
  background: #353535;
  top: 80px;
  width: 10em;
  z-index: 2;
  position: absolute;
  padding: 0;
  display: none;
}
#navigator-usuario .bottom-nav #li-hombres .sub-li-hombres ul {
  padding-left: 0;
  padding: 0;
}
#navigator-usuario .bottom-nav #li-hombres .sub-li-hombres ul li {
  margin: 0;
  width: 100%;
  border: 1px solid #fff;
  padding: 5px;
  padding-left: 0;
  list-style: none;
  padding-left: 10px;
  cursor: pointer;
}
#navigator-usuario .bottom-nav #li-hombres .sub-li-hombres ul li .sub-li-zapatillas {
  display: none;
  background: #353535;
  position: absolute;
  left: 170px;
  top: 0px;
}
#navigator-usuario .bottom-nav #li-hombres .sub-li-hombres ul li:hover {
  background: rgb(0, 103, 177);
  width: 170px;
}
#navigator-usuario .bottom-nav #li-hombres .sub-li-hombres ul li:hover .sub-li-zapatillas {
  width: 170px;
  display: block;
}
#navigator-usuario .bottom-bottom-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
#navigator-usuario .bottom-bottom-nav #carrito-de-compras {
  font-size: 1.2em;
  margin: 12px 15px 0px 0px;
}
#navigator-usuario .bottom-bottom-nav .busqueda {
  margin: 8px 0px 0px 0px;
}/*# sourceMappingURL=nav-usuario.css.map */