$color-primario: rgb(0,128,219);

#navigator-usuario{
    background-color: $color-primario;
    color: #fff;

    div{
        justify-content: space-between;
        .button-left{

            height: 33px;
            width: 33px;
            border: none;
            border-radius: 10px;
            margin-right: 10px;
            font-size: 1.3em;
            background-color: #0080db;
            i{
                color: #fff;
            }
        }
        .button-left:hover{
            transform: scale(1.2);
            text-shadow: 0px 0px 2px #fff;
            transition: all 0.2s ease-out;
        }
        /* Direccion */
        .direccion{
            position: relative;
            display: flex;
            .svg-home{
                color: #fff;
            }
            .address{
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        // Logo y nombre
        .logo-y-nombre{
            display: flex;
            align-items: center;
            
            
            .imagen-logo{
                img{
                    border: 3px solid #ffffff;
                    box-shadow: 0px 0px 3px #fff;
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                }
            }
            span{
                margin: 0px 2px;
                font-weight: 600;
                font-size: 1.4em;
                text-shadow: 0px 0px 1px #fff;
                text-decoration: underline;
            }
        }
        .usuario-logueado{
            display: flex;
            align-items: center;
            height: 30px;
            .invitado{
                margin-right: -55px;
                a{
                    margin-top: -15px;
                }
            }
            ul{
                margin-top: 10px;
                padding: 0;
            }
            .ayuda{

                margin-bottom: 7.5px;
                margin-left:5px ;
                i{
                    font-size: 1.1rem;
                }
                :hover{
                    cursor: pointer;
                    color: #cecece;
                    transition: all 0.2s;
                }
            }
            
        }
        .right{
            .busqueda{
                margin-left: 50px;
            }
        }
        .left{
            .direccion{
                margin-left: 20px;
            }
        }
    }

    .bottom-nav{
        display: flex;
        justify-content: center;
        margin-top: 5px;

        background-color: rgb(255, 255, 255);
        ul{
            display: flex;
            align-items: flex-end;
            li{
                margin: 0px 10px;
            }
        }
    }
}