$color-primario: rgb(0,128,219);
$form-switch-checked-color: rgb(0,0,0);
$color-casi-negro:  #353535;  

#navigator-usuario{
    background-color: $color-primario;
    color: #fff;
    

    #top-navigator{
        justify-content: space-between;
        align-items: center;
        padding-top: 0px;
        // Usuario logueado
        .usuario-logueado{
            display: flex;
            margin-bottom: 5px;
            .invitado{
                margin-right: -55px;
                a{
                    margin-top: -15px;
                }
            }
            ul{
                margin-top: 10px;
                padding: 0;
            }
            .ayuda{

                margin-bottom: 7.5px;
                margin-left:5px ;
                i{
                    font-size: 1.1rem;
                }
                :hover{
                    cursor: pointer;
                    color: #cecece;
                    transition: all 0.2s;
                }
            }
            
        }
        // Logo y nombre
        .logo-y-nombre{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            
            .imagen-logo{
                img{
                    border: 3px solid #ffffff;
                    box-shadow: 0px 0px 3px #fff;
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                }
            }
            span{
                margin: 0px 2px;
                font-weight: 600;
                font-size: 1.4em;
                text-shadow: 0px 0px 1px #fff;
                text-decoration: underline;
            }
        }
        .right{
            display: flex;
            justify-content: flex-end;
            height: 45px;
            // Cambiart de tema claro a oscuro, y viceversa.
            #contenedor-switch-cambio-tema{
                background: $color-casi-negro; 
                color:#fff; 
                padding: 5px; 
                border-radius:30px; 
                margin-bottom: 5px;

                #form-switch{
                    margin-left: 8px; 
                    margin-top: 2px;
                    color: black;

                }
            }

            // Cambiar idioma.
            #contenedor-dropdown-idiomas{
                background: $color-casi-negro; 
                color:#fff; 
                padding:5px;
                padding-bottom:7px;  
                margin-bottom: 5px;
                right: 0em;

                #dropdown-idiomas{
                    background-color: $color-casi-negro;
                    margin-top: 6px;
                    left: -3.9em;
                    min-width:130px;
                    :hover{
                        background: rgb(11, 122, 173);
                    }
                    li:hover{
                        background: rgb(11, 122, 173);
                    }

                }
            }
        }
        // .left{
        //     .direccion{
        //         margin-left: 20px;
        //     }
        // }
    }
    // Fondo blanco, ancor azules
    .bottom-nav{
        display: flex;
        justify-content: center;
        align-items: center;

        padding-bottom: 0px;
        padding: 5px 0px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        #li-hombres:hover a{
            transform: scale(1.3);
        }
        a{
            margin: 0px 5px;
        }
        #li-hombres:hover .sub-li-hombres{
            display: block;
        }

        
        // Dropdowns hover de los li
        #li-hombres:hover a{
            text-shadow: 1px 1px 1px blue;
            margin: 10px;

        }

        #li-hombres{
            padding: 0;
            .sub-li-hombres{
                color: blue;
                top: 82px;
                width: 10em;
                z-index: 2;
                position: absolute;
                padding: 0;
                display: none;
                ul{
    
                    

                    padding-left: 0;
                    padding: 0;
                    li{
                        background: white;
                        color: #000000;

                        margin: 0;
                        padding: 0;
                        width: 100%;
                        border: 1px solid #1900ff;
                        padding: 5px;
                        padding-left: 0;
                        list-style: none;
                        padding-left: 10px;
                        cursor:pointer;

                        .sub-li-zapatillas{
                            display: none;
                            background: #ffffff;
                            position: absolute;
                            left: 170px;
                            top: 0px;
                        }

                    }
                    li:hover{
                        background: rgb(0, 0, 0);
                        width: 170px;
                        color: #fff;
                    }
                    li:hover .sub-li-zapatillas{
                        color: #000000;

                        width: 170px;
                        display: block;
                    }
                }
            }

        }
 
    }




    .bottom-bottom-nav{
        width: 100%;
        display: flex;
        justify-content: center;
        #carrito-de-compras{
            font-size: 1.2em;
            margin: 12px 15px 0px 0px;
            
        }
        .busqueda{
            margin: 8px 0px 0px 0px;
        }
    }
}